# Ambientes Virtuais
venv/
env/
.venv/

# Ficheiros de Segurança e Senhas (NUNCA SUBIR)
config.py
credenciais.json

# Banco de Dados de Relatórios e Logs
__pycache__/
.env
.env.*
*.env
credentials.json
*.pem
*.key
.credentials
