# Arquivos sensíveis
credenciais.json
.env
*.env
backend/.env
frontend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.mp3
resposta.mp3

# Sessões locais
sessao_whatsapp/Default/Cache/
sessao_whatsapp/Default/Code Cache/
sessao_whatsapp/Default/Service Worker/
sessao_whatsapp/Default/IndexedDB/
sessao_whatsapp/Default/Session Storage/
sessao_whatsapp/Default/Local Storage/

# Node
node_modules/
build/
.next/
